ion-button {
    margin: 3vh 3vh 0 3vh;
    ion-text {
        font-size: 0.9rem;
    }
}

ion-list {
    ion-list-header {
        ion-label {
            font-weight: bold;
            font-size: 1.4rem;
            letter-spacing: 0.5px;
            p {
                margin-top: 1.5vh;
                font-size: 0.75rem;
            }
        }
    }
    ion-input {
        // border: 1px solid var(--ion-color-medium);
        --border-radius: 10px;
    }
}