<ion-header class="ion-no-border">
  <ion-list lines="none" class="ion-margin-top">
    <ion-list-header class="ion-padding">
      <ion-label>
        {{getData()?.title}}
        <p>
          {{getData()?.subTitle}}
        </p>
      </ion-label>
    </ion-list-header>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="none">
      <!-- <ion-list-header class="ion-padding">
        <ion-label>
          {{getData()?.title}}
          <p>
            {{getData()?.subTitle}}
          </p>
        </ion-label>
      </ion-list-header> -->

      <ion-item-group class="ion-padding-horizontal ion-margin" *ngIf="flag == 1">
        
        <ion-input
            label="EMAIL"
            labelPlacement="floating"
            fill="outline"
            mode="md"
            type="email"
            name="email"
            ngModel
            email
            #emailCtrl="ngModel"
            required
            (ionFocus)="inputFocus($event)"
            (ionBlur)="inputBlur($event)">
          </ion-input>
      </ion-item-group>
      <ion-item-group class="ion-padding-horizontal ion-margin" *ngIf="flag == 2">
        <!-- <ion-item class="ion-margin-vertical"> -->
          <!-- <ion-icon name="key" slot="start" color="medium"></ion-icon>  -->
          <ion-input
            label="PASSWORD"
            labelPlacement="floating"
            fill="outline"
            mode="md"
            type="text"
            name="new_password"
            ngModel
            #new_passwordCtrl="ngModel"
            placeholder="Password"
            required
            minlength="8">
          </ion-input>
        <!-- </ion-item> -->
      </ion-item-group>
    </ion-list>

    <ion-button
      expand="block"
      size="large"
      shape="round"
      color="primary"
      type="submit"
      [disabled]="!f.valid">
      <ion-text>{{getData()?.button}}</ion-text>
    </ion-button>
    
  </form>
</ion-content>